* {

}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #FFF;
  background-image: url("../imgs/camden.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
}

header {
  border: 2px solid black;
	/*display: inline;*/
	margin: 30px 0px 0px 50px;
	font-size: 48px;
	font-weight: lighter;
	letter-spacing: .2em;
  color: #FFF;
  background-color: #000;
  opacity: .6;
}

header a:link {
  color: #FFF;
}

header a:visited {
  color: #FFF;
}

header a:hover {
  color: #FFF;
}

nav {
  /*border: 2px solid black;*/
	padding: 2px;
	margin: 0px 0px 25px 50px;
  background-color: #000;
  opacity: .6;
}

nav a:link {
  color: #FFF;
}

nav a:visited {
  color: #FFF;
}

nav a:hover {
  color: #FFF;
}

nav ul {
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

nav ul li {
	display: inline;
  padding: 0px 5px 0px 5px;
}

nav ul li a {
	text-decoration: none;
}

main {
	/*border: 2px solid black;*/
  display: inline-block;
	margin: 0px 0px 0px 75px;
  padding: 5px;
	font-size: 16px;
  width: 60%;
  background-color: #FFF;
  opacity: .6;
}

pre {
  /*border: 1px solid black;*/
  padding: 10px;
  background-color: #a1a3a3;
}

/*
aside {
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  padding: 5px;
  margin: 0px 0px 9px 30px;
}

aside img {
  height: 30px;
  width: 30px;
}

aside ul {
  list-style-type: none;
  display: inline;
  border: 0px;
  padding: 5px;
  margin: 0px;
}

aside ul li {
  display: inline;
}
*/

#social-icons {
  display: inline;
  margin: 0px 5px 0px 5px;
}

aside ul li a {
  text-decoration: none;
}

footer {
	/*border: 2px solid black;*/
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0%;
}